.header-section{
  background-color: #ffffff;
}

.menu-area{
  vertical-align: middle;
}
.menu-area ul {
  list-style: none;
  align-items: center;
  margin-bottom: 0 !important;
}
.menu-area ul li{
  margin-left: 20px;
  
}
.menu-area ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #703ec5;
}

/* Banner section CSS */
.banner-section {
  height: 470px;
  display: flex;
  align-items: center;
}